// Colors
$pinkColor: #e91e63;
$greenColor: #00c853;
$grayColor: #f5f5f5;
$blackColor: #000000;
$whiteColor: #ffffff;
$darkColor: #212121;
$blueColor: #607d8b;
$lightDarkColor: #303030;
$darkGrayColor: #424242;
$lightGrayColor: #616161;

//FONTS
$fontColor: #222222;

//OTHER
$transition: .2s ease-in-out