<header [ngClass]="{'dark_mode': styleMode}">
	<div class="container">
		<div class="logo" [routerLink]="['authors']">
			<mat-icon  svgIcon="logo" [ngClass]="{'dark_mode': styleMode}"></mat-icon>
			<span class="logo-name">Sound Manager</span>
		</div>

		<div class="change-mode">
			<mat-slide-toggle (change) = "onChangeMode($event)" [checked] = "styleMode"> </mat-slide-toggle>
		</div>

		<div class="auth">
			<mat-icon svgIcon="profile" [ngClass]="{'dark_mode': styleMode}" class="user-icon" ></mat-icon>
			<span class="auth-text" [ngClass]="{'dark_mode': styleMode}">
				Login
			</span>
		</div>
	</div>
</header>