@import "../../../../styles-variables"

.player
    position: fixed
    display: flex
    align-items: center
    width: 100%
    z-index: 1
    bottom: 0
    padding: 20px 20px 20px 91px
    box-shadow: 0 4px 20px 10px rgba(0,0,0,.1)
    background: $grayColor
    transition: $transition

    &.dark_mode
        background: $lightDarkColor

.controls-middle
    display: flex
    align-items: center
    justify-content: center

.controls-right
    display: flex
    align-items: center
    margin-left: auto
    justify-content: flex-end
    width: 40%

.current-song-duration ::ng-deep
    position: absolute
    top: 0
    left: 71px
    right: 0
    height: auto
    padding: 0

    .mat-slider-wrapper 
        position: absolute
        top: 0
        right: 0
        left: 0
        height: 10px
        cursor: pointer

    .mat-slider-track-wrapper,
    .mat-slider-track-background,
    .mat-slider-track-fill
        height: 10px

    .mat-slider-track-background
        transform: none!important

    .mat-slider-thumb-container
        display: none
    
.current-song-wrapper 
    width: 40%

.controls-left
    width: 40%

mat-icon
    width: 20px
    height: 20px

.play-button,
.stop-button
    width: 40px
    height: 40px
    background: $pinkColor
    border-radius: 50%
    margin-right: 20px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    padding: 8px
    transition: $transition

    mat-icon
        fill: $whiteColor
    
    &.dark_mode
        background: $greenColor
        
        mat-icon
            fill: $whiteColor
        
.stop-button
    mat-icon
        margin-left: -1px
.play-button

    mat-icon
        margin-left: 3px

.previous-button,
.next-button
    display: flex
    align-items: center
    cursor: pointer

    mat-icon
        transition: $transition
        fill: $blueColor
    
    &.dark_mode

        mat-icon
            fill: $whiteColor

.previous-button
    margin-right: 20px
    transform: rotate(180deg)

.volume-button
    display: flex
    align-items: center

    mat-icon
        transition: $transition
        fill: $blueColor
        margin-right: 10px
    
    &.dark_mode
        mat-icon
            fill: $whiteColor

::ng-deep mat-slider.volume-slider
    .mat-slider-thumb,
    .mat-slider-thumb, 
    .mat-slider-track-fill
        transition: background-color $transition
        background-color: $pinkColor
    &.dark_mode
        .mat-slider-thumb,
        .mat-slider-track-fill
            background-color: $greenColor
        
::ng-deep .mat-slider-thumb
    transform: scale(.7)!important