<div class="sidenav" [ngClass]="{'dark_mode': styleMode}" >
  <ul class="sidenav-list" [ngClass]="{'dark_mode': styleMode}">
    <li class="active">
		<a class="sidenav-link">
        	<mat-icon svgIcon="cd"></mat-icon>
		</a>
	</li>
    <li>
		<a class="sidenav-link">
        	<mat-icon svgIcon="favourites"></mat-icon>
		</a>
	</li>
    <li>
		<a class="sidenav-link">
        	<mat-icon svgIcon="search"></mat-icon>
		</a>
	</li>
    <li>
		<a class="sidenav-link">
        	<mat-icon svgIcon="settings"></mat-icon>
		</a>
	</li>
  </ul>
</div>